
body{
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#A9A9A9 10%, white 90%);
}
.upper-section{
    text-align: center;
   
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.upper{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-side{
    margin-top: 10px;
}
.vertical-line{
    border-left: 1px solid gray;
    height: 140%;
    position:absolute;
    left: 50%;
}
.right-side{
    margin-right: 300px;
    margin-top: 10px;
}
.vl {
    position:absolute;
    border-left: 1px solid;
    height: 140%;
    top: 60%;
    left: 50%;
    margin-left: -3px;
   
  }
 .profile-card{
     margin-left: 25px;
     margin-top: 20px;
 }
 h1{
     color: gray;
     font-size: 24px;
     text-transform: uppercase;
     margin-bottom: 20px;
     margin-top: 10px;
 }
 span{
     color: black;
     font-size: 20px;
     font-weight: bold;
 }
 h2{
     font-size: 28px;
     text-transform: uppercase;
     font-weight: bold;
     line-height: 1.5em;
     letter-spacing: 0.15em;
 }
 @media screen and (max-width:1500px){
    .right-side{
        margin-top: 0px;
        margin-left: 350px;
    }
    vertical-line{
        
        height: 230%;
       
    }
}
 @media screen and (max-width:1200px){
    .right-side{
        margin-top: 0px;
        margin-left: 250px;
    }
    vertical-line{
        border-left: 1px solid gray;
        height: 210%;
        position:absolute;
        left: 50%;
    }
}
 @media screen and (max-width:900px){
     .right-side{
         margin-top: 0px;
         margin-left: 220px;
     }
     .vertical-line{
        border-left: 1px solid gray;
        height: 190%;
        position:absolute;
        left: 50%;
    }
    
 }
 
 @media screen and (max-width:600px){
    body{
      width: 100%;
      font-size: 1.0rem;
    }
    .right-side{
        margin-right: 0px;
        margin-top: 0px;
    }
    .vertical-line{
        border-left: 1px solid gray;
        height: 170%;
        position:absolute;
        left: 55%;
    }
}